@model PuntoVenta.Models.Usuario

@{
    ViewBag.Title = "Crear Usuario";
}

<h2 class="text-2xl font-bold mb-4">Crear Usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mx-auto">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-red-500" })

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="form-group">
                @Html.LabelFor(model => model.strNombre, htmlAttributes: new { @class = "block text-gray-700 font-bold mb-2" })
                @Html.EditorFor(model => model.strNombre, new { htmlAttributes = new { @class = "form-input w-full" } })
                @Html.ValidationMessageFor(model => model.strNombre, "", new { @class = "text-red-500" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.strPassword, htmlAttributes: new { @class = "block text-gray-700 font-bold mb-2" })
                @Html.EditorFor(model => model.strPassword, new { htmlAttributes = new { @class = "form-input w-full" } })
                @Html.ValidationMessageFor(model => model.strPassword, "", new { @class = "text-red-500" })
            </div>

            <div class="form-group">
                @Html.Label("Estado", "Estado", htmlAttributes: new { @class = "block text-gray-700 font-bold mb-2" })
                @Html.DropDownListFor(model => model.IdUsuCatEstado, (IEnumerable<SelectListItem>)ViewBag.Estado, "Seleccione...", new { @class = "form-select", id = "Id" })
                @Html.ValidationMessageFor(model => model.IdUsuCatEstado, "", new { @class = "text-red-500" })
            </div>

            <div class="form-group">
                @Html.Label("Tipo Usuario", "TipoUsuario", htmlAttributes: new { @class = "block text-gray-700 font-bold mb-2" })
                @Html.DropDownListFor(model => model.IdUsuCatTipoUsuario, (IEnumerable<SelectListItem>)ViewBag.TipoUsuario, "Seleccione...", new { @class = "form-select", id = "Id" })
                @Html.ValidationMessageFor(model => model.IdUsuCatTipoUsuario, "", new { @class = "text-red-500" })
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Regresar", "Index", "Usuarios", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
